In [1]:
import pandas as pd
testfile3B=pd.read_excel("testfiles.xlsx",sheet_name='3B',index_col='No.')
# testfile.to_csv("testfiles.csv", index=None, header=True)
# # df = pd.DataFrame(pd.read_csv("testfiles.csv"))
# df = pd.read_csv("testfiles.csv")
# df
testfile3B

FileNotFoundError: [Errno 2] No such file or directory: 'testfiles.xlsx'

In [2]:
import pandas as pd
testfile3B=pd.read_excel("testfiles.xlsx",sheet_name='3B',index_col='No.')
# testfile.to_csv("testfiles.csv", index=None, header=True)
# # df = pd.DataFrame(pd.read_csv("testfiles.csv"))
# df = pd.read_csv("testfiles.csv")
# df
testfile3B

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [3]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---- ----------------------------------- 30.7/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 495.5 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 939.4 kB/s eta 0:00:01
     -------------------------- ----------- 174.1/250.0 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.1 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
testfile3B=pd.read_excel("testfiles.xlsx",sheet_name='3B',index_col='No.')
# testfile.to_csv("testfiles.csv", index=None, header=True)
# # df = pd.DataFrame(pd.read_csv("testfiles.csv"))
# df = pd.read_csv("testfiles.csv")
# df
testfile3B

,Student Number,Student Name,DoB,Email Address,Gender
No.,,,,,
1,144234,"Abwoga, Adrian Jared Paul",2000-06-17,NaN,M
2,145587,"Akong'o, Shanelle Hilda Anyango",2001-11-14,NaN,F
3,145401,"Ang'edu, Jude Ocomil",2003-08-21,NaN,M
4,140801,"Arunga, Kyla Neema",2003-10-26,NaN,F
5,137357,"Atenya, Anthony Magunga Ikobwa",2002-03-17,NaN,M
...,...,...,...,...,...
60,143621,"Wachira, Joy Muthoni",2001-08-07,NaN,F
61,146360,"Wakaba, Rosemary Njeri",2000-01-11,NaN,F
62,124342,"Wanjao, Louis Mbugua",2001-04-20,NaN,M
63,145356,"Waweru, Monika Ng'endo",2002-05-20,NaN,F
64,137931,"Waweru, Trevor Kariuki",2002-04-19,NaN,M

In [5]:
def generate_email(row):
    # Extract relevant columns
    student_name = row['Student Name']
    
    # Split the name into parts
    parts = student_name.split(' ')
    
    # Extract the first and last name (if available)
    last_name = parts[-1].strip()  # Remove leading/trailing spaces
    first_name = parts[0].strip()[0] if len(parts) > 1 else ""
    
    # Remove spaces from the first name
    first_name = first_name.replace(" ", "")
    
    # Combine the first and last name to form the email address
    email = f"{first_name}{last_name}@strathmore.edu"
    
    return email.lower() 


testfile3B['Email Address'] = testfile3B.apply(generate_email, axis=1)


print(testfile3B[['Student Number','Student Name','DoB', 'Email Address','Gender']])

     Student Number                     Student Name        DoB  \
No.
1            144234        Abwoga, Adrian Jared Paul 2000-06-17
2            145587  Akong'o, Shanelle Hilda Anyango 2001-11-14
3            145401             Ang'edu, Jude Ocomil 2003-08-21
4            140801               Arunga, Kyla Neema 2003-10-26
5            137357   Atenya, Anthony Magunga Ikobwa 2002-03-17
..              ...                              ...        ...
60           143621             Wachira, Joy Muthoni 2001-08-07
61           146360           Wakaba, Rosemary Njeri 2000-01-11
62           124342             Wanjao, Louis Mbugua 2001-04-20
63           145356           Waweru, Monika Ng'endo 2002-05-20
64           137931           Waweru, Trevor Kariuki 2002-04-19

               Email Address Gender
No.
1       apaul@strathmore.edu      M
2    aanyango@strathmore.edu      F
3     aocomil@strathmore.edu      M
4      aneema@strathmore.edu      F
5     aikobwa@strathmore.edu      M
..                       ...    ...
60   wmuthoni@strathmore.edu      F
61     wnjeri@strathmore.edu      F
62    wmbugua@strathmore.edu      M
63   wng'endo@strathmore.edu      F
64   wkariuki@strathmore.edu      M

[64 rows x 5 columns]

In [6]:
print(testfile3B[['Student Name', 'Email Address']])

                        Student Name            Email Address
No.
1          Abwoga, Adrian Jared Paul     apaul@strathmore.edu
2    Akong'o, Shanelle Hilda Anyango  aanyango@strathmore.edu
3               Ang'edu, Jude Ocomil   aocomil@strathmore.edu
4                 Arunga, Kyla Neema    aneema@strathmore.edu
5     Atenya, Anthony Magunga Ikobwa   aikobwa@strathmore.edu
..                               ...                      ...
60              Wachira, Joy Muthoni  wmuthoni@strathmore.edu
61            Wakaba, Rosemary Njeri    wnjeri@strathmore.edu
62              Wanjao, Louis Mbugua   wmbugua@strathmore.edu
63            Waweru, Monika Ng'endo  wng'endo@strathmore.edu
64            Waweru, Trevor Kariuki  wkariuki@strathmore.edu

[64 rows x 2 columns]

In [7]:
import re

def generate_cleaned_email(row):
    # Extract relevant columns
    student_name = row['Student Name']
    
    # Split the name into parts
    parts = student_name.split(' ')
    
    # Extract the first and last name (if available)
    last_name = parts[-1].strip()  # Remove leading/trailing spaces
    first_name = parts[0].strip()[0] if len(parts) > 1 else ""
    
    # Remove spaces and special characters from the first name
    first_name = re.sub(r'[^\w\s]', '', first_name)
    
    # Remove spaces and special characters from the last name
    last_name = re.sub(r'[^\w\s]', '', last_name)
    
    # Combine the cleaned first and last name to form the email address
    email = f"{first_name}{last_name}@strathmore.edu"
    
    return email.lower() 

# Apply the updated function to create cleaned email addresses
testfile3B['Email Address'] = testfile3B.apply(generate_cleaned_email, axis=1)

print(testfile3B[['Student Number','Student Name','DoB', 'Email Address','Gender']])

     Student Number                     Student Name        DoB  \
No.
1            144234        Abwoga, Adrian Jared Paul 2000-06-17
2            145587  Akong'o, Shanelle Hilda Anyango 2001-11-14
3            145401             Ang'edu, Jude Ocomil 2003-08-21
4            140801               Arunga, Kyla Neema 2003-10-26
5            137357   Atenya, Anthony Magunga Ikobwa 2002-03-17
..              ...                              ...        ...
60           143621             Wachira, Joy Muthoni 2001-08-07
61           146360           Wakaba, Rosemary Njeri 2000-01-11
62           124342             Wanjao, Louis Mbugua 2001-04-20
63           145356           Waweru, Monika Ng'endo 2002-05-20
64           137931           Waweru, Trevor Kariuki 2002-04-19

               Email Address Gender
No.
1       apaul@strathmore.edu      M
2    aanyango@strathmore.edu      F
3     aocomil@strathmore.edu      M
4      aneema@strathmore.edu      F
5     aikobwa@strathmore.edu      M
..                       ...    ...
60   wmuthoni@strathmore.edu      F
61     wnjeri@strathmore.edu      F
62    wmbugua@strathmore.edu      M
63    wngendo@strathmore.edu      F
64   wkariuki@strathmore.edu      M

[64 rows x 5 columns]

In [8]:
# Assuming you have a DataFrame called 'testfile3B'
# To filter and print rows where 'Gender' is 'M' (male)
male_students = testfile3B[testfile3B['Gender'] == 'M']
print(male_students[['Student Number', 'Student Name', 'DoB', 'Email Address', 'Gender']])
len(male_students)

     Student Number                    Student Name        DoB  \
No.
1            144234       Abwoga, Adrian Jared Paul 2000-06-17
3            145401            Ang'edu, Jude Ocomil 2003-08-21
5            137357  Atenya, Anthony Magunga Ikobwa 2002-03-17
6            145346        Budembeshe, Moses Kasuni 2002-02-24
7            146320         Dessalegn, Kalid Geleta 2000-09-07
8            134693            Epetet, Keith Lokwei 2001-06-08
9            146356               Ger, David Otieno 2001-01-28
10            87244     Githinji, Don Moses Thigiti 2000-04-12
11           145982                 Haji, Ashir Ali 2003-06-13
14           137766          Johnson, Myles Adebayo 2001-04-27
18           146015           Kiarie, Samuel Ndungu 2000-06-09
20           131652            Kimutai, Peter Kibet 2002-09-16
21           146602            Kinyua, Victor Mfana 2003-10-28
22           138458           Kirema, Ian Muteithia 2001-03-01
23           122992           Kithae, Eric Muriithi 2000-10-02
24           145460            Korir, Kevin Kimutai 2002-10-26
25           145493              Kwoba, Alex Wafula 2002-04-26
26           141706        Maritim, Kelvin Kipngeno 2000-10-23
27           102206    Masaka, Zivai Takadiwa David 2002-07-06
28           138493           Mohamed, Ally Mahamud 2003-04-04
29           146357         Morekwa, David Nyamongo 2001-02-13
30           144955          Mugambi, Kelvin Karani 2000-04-10
31           122279            Muhia, Victor Mwaura 2000-09-26
34           138348            Muroki, Mark Gichuhi 2001-12-28
36           146098         Mutua, Franklin Karanja 2003-10-21
37           134362            Mutunga, Eric Kiamba 2003-07-11
39           145840           Mwanda, George Josiah 2000-02-20
40           145706         Nabaala, Andrew Kasaine 2001-07-27
44           145547            Ng'ang'a, Ian Mutuge 2001-01-23
45           145732           Ngeno, Alvin Kipkurui 2002-12-22
46            89724         Ngigi, Michael Macharia 2003-08-11
48           146197             Nugi, Andrew Kiarie 2003-04-15
51           138897       Ochanda, Steven Joel Jona 2000-04-02
53           138367        Ombeni, Mwenzangu Faraja 2001-12-03
54           124965           Ombongi, Caleb Magare 2002-09-27
57           141756                Patel, Jay Hirji 2003-06-25
58           145837                   Tonui, Martin 2002-06-02
59           132747        Tum, Bramwel Kipchirchir 2001-02-06
62           124342            Wanjao, Louis Mbugua 2001-04-20
64           137931          Waweru, Trevor Kariuki 2002-04-19

                   Email Address Gender
No.
1           apaul@strathmore.edu      M
3         aocomil@strathmore.edu      M
5         aikobwa@strathmore.edu      M
6         bkasuni@strathmore.edu      M
7         dgeleta@strathmore.edu      M
8         elokwei@strathmore.edu      M
9         gotieno@strathmore.edu      M
10       gthigiti@strathmore.edu      M
11           hali@strathmore.edu      M
14       jadebayo@strathmore.edu      M
18        kndungu@strathmore.edu      M
20         kkibet@strathmore.edu      M
21         kmfana@strathmore.edu      M
22     kmuteithia@strathmore.edu      M
23      kmuriithi@strathmore.edu      M
24       kkimutai@strathmore.edu      M
25        kwafula@strathmore.edu      M
26      mkipngeno@strathmore.edu      M
27         mdavid@strathmore.edu      M
28       mmahamud@strathmore.edu      M
29      mnyamongo@strathmore.edu      M
30        mkarani@strathmore.edu      M
31        mmwaura@strathmore.edu      M
34       mgichuhi@strathmore.edu      M
36       mkaranja@strathmore.edu      M
37        mkiamba@strathmore.edu      M
39        mjosiah@strathmore.edu      M
40       nkasaine@strathmore.edu      M
44        nmutuge@strathmore.edu      M
45      nkipkurui@strathmore.edu      M
46      nmacharia@strathmore.edu      M
48        nkiarie@strathmore.edu      M
51          ojona@strathmore.edu      M
53        ofaraja@strathmore.edu      M
54        omagare@strathmore.edu      M
57         phirji@strathmore.edu      M
58        tmartin@strathmore.edu      M
59   tkipchirchir@strathmore.edu      M
62        wmbugua@strathmore.edu      M
64       wkariuki@strathmore.edu      M

40

In [10]:
female_students=testfile3B[testfile3B['Gender'] == 'F']
print(female_students[['Student Number', 'Student Name', 'DoB', 'Email Address', 'Gender']])
len(female_students)

     Student Number                     Student Name        DoB  \
No.
2            145587  Akong'o, Shanelle Hilda Anyango 2001-11-14
4            140801               Arunga, Kyla Neema 2003-10-26
12           145644       Hassan, Fardowsa Abduhakim 2000-09-20
13           138551              Ismail, Ruweida Ali 2000-04-08
15           141910                 Kamau, Ann Mumbi 2001-11-28
16           145883         Kangethe, Sharon Wanjiru 2000-02-20
17           145702            Karanu, Neema Muthoni 2001-11-24
19           146273            Kihara, Shannon Kendi 2002-10-14
32           145350        Muiyuro, Natasha Waithira 2002-08-19
33           145889               Muli, Grace Kanini 2000-04-27
35           145434               Mutaki, Ruby Mbete 2002-06-17
38           141855       Mutunga, Patience Kamanthe 2000-08-08
41           145890                  Naibei, Monicah 2002-11-28
42           145353        Ndambiri, Yvonne Nyambura 2002-07-21
43           136559      Ndungu, Sarah Laura Wangari 2003-10-01
47           137222         Njuguna, Elizabeth Njoki 2000-07-07
49           139010                  Nyambura, Erica 2002-08-26
50           139471           Nzioki, Maureen Mutete 2002-10-05
52           128099       Ogutu, Brenda Mary Anyango 2002-04-24
55           137668            Orony, Charis Ng'wono 2000-01-16
56           142005              Owens, Nicole Owens 2000-09-14
60           143621             Wachira, Joy Muthoni 2001-08-07
61           146360           Wakaba, Rosemary Njeri 2000-01-11
63           145356           Waweru, Monika Ng'endo 2002-05-20

                 Email Address Gender
No.
2      aanyango@strathmore.edu      F
4        aneema@strathmore.edu      F
12   habduhakim@strathmore.edu      F
13         iali@strathmore.edu      F
15       kmumbi@strathmore.edu      F
16     kwanjiru@strathmore.edu      F
17     kmuthoni@strathmore.edu      F
19       kkendi@strathmore.edu      F
32    mwaithira@strathmore.edu      F
33      mkanini@strathmore.edu      F
35       mmbete@strathmore.edu      F
38    mkamanthe@strathmore.edu      F
41     nmonicah@strathmore.edu      F
42    nnyambura@strathmore.edu      F
43     nwangari@strathmore.edu      F
47       nnjoki@strathmore.edu      F
49       nerica@strathmore.edu      F
50      nmutete@strathmore.edu      F
52     oanyango@strathmore.edu      F
55      ongwono@strathmore.edu      F
56       oowens@strathmore.edu      F
60     wmuthoni@strathmore.edu      F
61       wnjeri@strathmore.edu      F
63      wngendo@strathmore.edu      F

24

In [11]:
import pandas as pd
import re

special_char_pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>.?~\\\/|"\']')

names_with_special_chars = testfile3B[testfile3B['Student Name'].str.contains(special_char_pattern)]

print(names_with_special_chars['Student Name'])
len(names_with_special_chars)

No.
2     Akong'o, Shanelle Hilda Anyango
3                Ang'edu, Jude Ocomil
44               Ng'ang'a, Ian Mutuge
55              Orony, Charis Ng'wono
63             Waweru, Monika Ng'endo
Name: Student Name, dtype: object

5